<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css_styles/acc_style.css">
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<nav class="navbar">
    <a href="login.html" class="link_button">Sign in</a>
    <a href="#" class="logoutLink_button">Sign out</a>
    <a href="acc-reg.html" class="link_button">Sign up</a>
    <a href="acc.html" class="link_button">Account</a>
</nav>
<main class="main">
    <form class="form">
        <img src="../img/logo.png" alt="site logo" class="logo">
    <h1>Your profile</h1>
    <div>
      <h2>User Info</h2>
        <p id="name">First name: </p>
        <p id="surname">Last name: </p>
    </div>
    <a href="acc-edit.html" class="edit_button">Edit account</a>
    </form>
</main>

<script src="../scripts/account.js"></script>

</body>
</html>
